<header>
  <div class="container">
    <div class="pull-left">
      <form id="search-form">
        <input type="text" name="some_name" value="" id="search-query" placeholder="Nhap so thich hoac ten nhom">
        <button class="button icon search" id="search"><span>Search</span></button>
        <%= link_to "Home", root_url(:host => request.domain) %>
      </form>
    </div>
    <% if user_signed_in? %>
    <div class="button-group pull-right">
      <a href="#" class="button icon user primary"><%= current_user.name %></a>
      <a href="#" class="button">Tin Nhan <strong>(1)</strong></a>
      <%= link_to t('common.sign_out'), destroy_user_session_path, :class => "button" %>
    </div>
    <% else %>
    <ul class="pull-right">
      <li><span><%= t('common.sign_in_with') %></span></li>
      <li><%= link_to "Yahoo", user_omniauth_authorize_path(:open_id, :openid_url => "http://yahoo.com"), :class => "icon yahoo", :rel => "twipsy", :title => "Yahoo", "data-placement" => "below" %></li>
      <li><%= link_to "Google", user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id"), :class => "icon google", :rel => "twipsy", :title => "Google", "data-placement" => "below" %></li>
      <li><%= link_to "Facebook", "", :class => "icon facebook", :rel => "twipsy", :title => "Facebook", "data-placement" => "below" %></li>
    </ul>
    <% end %>
  </div>
</header>  
