<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cungsothich</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="one-column" class="<% if content_for?(:body_class) %><%= yield(:body_class) %><% else %><%= controller_name %><% end %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-js-required="<% if content_for?(:js_required) %><%= yield :js_required %><% else %>true<% end %>">
    <%= render :partial => "flashs" %>
    <%= render :partial => "header" %>
    <div id="container" class="container">
      <div class="row">
        <div class="span16">
          <% if content_for?(:content_header) %>
          <div class="section-header">
            <%= yield :content_header %>
          </div>
          <% end %>
          <div id="content" class="section-content">
            <%= yield %>
          </div>
        </div>
      </div>
    <%= render :partial => "footer" %>  
    </div> <!--! end of #container -->
  </body>
</html>