<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cungsothich</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="three-columns" class="<% if content_for?(:body_class) %><%= yield(:body_class) %><% else %><%= controller_name %><% end %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>" data-js-required="<% if content_for?(:js_required) %><%= yield :js_required %><% else %>true<% end %>">
    <% if content_for?(:include_like_box) %>
      <%= render :partial => "facebook_sdk" %>
    <% end %>
    <%= render :partial => "flashs" %>
    <%= render :partial => "header" %>
    <div id="container" class="container">
      <div class="row">
        <div class="span16" id="page">
          <div id="left-side">
            <%= yield :left_side %>
            <div id="left-side-background"></div>
          </div>
          <div id="main">
            <%= yield %>
            <div id="main-background"></div>
          </div>
          <div id="right-side">
            <%= yield :right_side %>
            <div id="right-side-background"></div>
          </div>
        </div>
      </div>
      <%= render :partial => "footer" %>     
      </div> <!--! end of #container -->
  </body>
</html>